.difficulty {
  min-width: max-content;
  width: 430px;
  height: 250px;
  max-width: 100%;
  margin: 0 auto;
  position: absolute;
  margin-top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  background-color: lightgrey;
  padding: 10px, 20px, 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  font-size: 25px;

  &__closer {
    cursor: pointer;
    float: right;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
    align-self: flex-end;
    margin-right: 5px;
  }

  &__title {
    font-weight: bold;
    padding-left: 10px;
  }

  &__newGame {
    width: 140px;
    height: 30px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
  }

  &__customItem {
    width: 60px;
    font-size: 22px;
  }
}
