body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
  display: flex;
  font-size: 28px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.game {
  width: 50%;
  width: fit-content;
  margin: 0 auto;

  &__header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    border: 2px solid black;
  }

  &__flags,
  &__reset,
  &__timer {
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  &__flags,
  &__timer {
    font-size: 28px;
  }
}

.grid {
  &__row {
    display: flex;
    &:last-child {
      border-bottom: 1px solid black;
    }
  }
  &__logo {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding-top: 2px;
  }
}

.cell {
  border-right: 1px solid black;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  font-weight: bold;

  &:first-child {
    border-left: 2px solid black;
  }

  &:last-child {
    border-right: 2px solid black;
  }

  &:hover {
    background-color: rgb(231, 255, 250);
  }
}

.flagged.cell {
  background-color: rgb(224, 224, 224);
  &:hover {
    background-color: rgb(211, 211, 211);
  }
}

.pressed.cell {
  background-color: lightgray;
}
