
body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
  display: flex;
  height: 100%;
  display: flex;
  font-size: 28px;
  position: fixed;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);
}

.game{
  width: 50%;
  width: fit-content;
  margin: 0 auto;
}

.flags,
.reset,
.timer {
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.flags,
.timer {
  font-size: 28px;
}

.grid-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  border: 2px solid black;
}

.row {
  display: flex;
}

.row:last-child {
  border-bottom: 1px solid black;
}

.cell {
  border-right: 1px solid black;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.cell:first-child {
  border-left: 2px solid black;
}

.cell:last-child {
  border-right: 2px solid black;
}

.flagged.cell{
  background-color: rgb(224,224,224)
}

.flagged.cell:hover{
  background-color: rgb(211,211,211);
}


.cell:hover {
  background-color: rgb(231, 255, 250);
}

.pressed.cell,
.pressed.cell:hover {
  background-color: lightgray;
}
