.winning {
  font-size: 20px;
  max-width: 300px;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: rgba(144, 238, 144, 0.935);
  padding: 10px, 20px, 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  font-size: 25px;
  padding: 10px;

  &__content{
    text-align: center;
  }

  &__buttons {
    width: fit-content;
    margin-top: 5px;
  }
}


#cancel {
  margin-left: 80px;
}

#name {
  width: 120px;
}
