.main {
  display: flex;
  margin-top: 10px;
  min-width: max-content;
  height: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.category {
  font-size: 14px;
  align-self: flex-start;
  text-align: left;
}

.score {
  width: 20px;
  float: left;
}

.name {
  width: 100px;
  float: left;
}

.item {
  margin-top: -12px;
}

.title {
  margin-left: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}




