.main {
  display: flex;
  margin-top: 20px;
  margin-left: -20px;
  
}

.category {
  font-size: 12px;
  align-self: flex-start;
  text-align: left;
}

.score {
  width: 20px;
  float: left;
}

.name {
  width: 70px;
  float: left;
}

.item {
  margin-top: -12px;
}

.title {
  margin-left: 20px;
}


